main {
  padding-top: 68px;
}

.nav-item {
  cursor: pointer;
}

.navbar-brand {
  cursor: default;
}

table.crud {
  width: 100%;

  tr.table-row {
    cursor: pointer;
    &:hover {
      background-color: #eaeef2;
    }
  }

  th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
    -webkit-user-select: none;
  }

  th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 8px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
  }

  th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 8px 8px 0;
  }

  th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 1;
  }

  th, td {
    padding: 2px 10px 2px 10px;
    border: 1px solid #ccc;
  }

  td {
    &.currency, &.integer {
      text-align: right;
    }
  }
  /*
  th {
    &.currency, &.integer {
      text-align: center;
    }
  }
  */
}